<div class="card" style="width: 10rem;">
  <div class="card-header">
    About The Flat
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Price: <%= flat.price_per_day %></li>
    <li class="list-group-item">Address: <%= flat.address %></li>
    <%# <li class="list-group-item">Availability: <%= flat.availability %></li> %>
    <li class="list-group-item">Description: <%= flat.description %></li>
    <li class="list-group-item">Capacity: <%= flat.capacity %></li>
  </ul>
</div>
