<h1>My flats</h1>

<div class="my_flats_page">
  <div class="my_flats_container">

    <% unless current_user.flats.nil? %>
      <% @flats.each do |flat| %>
        <div class="flat_row">
          <div>
            <div class="photo">
              <% if flat.photo.key.present? %>
                <%= cl_image_tag(flat.photo.key, class:"my_flat_image") %>
              <% else %>
                <%= image_tag("unknown.jpg", class:"my_flat_image") %>
              <% end %>
            </div>
            <p><%= flat.address %></p>
          </div>
          <div class="remove_flat_button">
            <%= link_to flat_path(flat), method:"delete", data: { confirm: "Are you sure?" }, class:"bin" do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
        <hr>
      <% end %>
    <% end %>
    <%= link_to "Add a new flat", new_flat_path(@flat), class:"btn btn-primary add_new_flat" %>
  </div>
</div>
