<h1>Rental details</h1>
<div class="container">
  <div class="rental_form">
    <%= simple_form_for [ @flat ] do |f| %>
      <%= f.input :price_per_day %>
      <%= f.input :address %>
      <%= f.input :availability %>
      <%= f.input :capacity %>
      <%= f.submit "Add flat", class: "btn btn-primary" %>
    <% end %>

    <form>
      <div class="form-group">
        <label for="exampleFormControlFile1">Upload some pictures of your place</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
    </form>
  </div>
</div>
