<div id="map"
     style="width: 100%; height: 400px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<h1 class="text-center"><%= @query.capitalize %>: <%= @count %> <%= @count > 1 || @count == 0 ? "stays" : "stay" %> found </h1>
<div class="py-5">
  <div class="container">
    <div class="row hidden-md-up">
      <% @flats.each do |flat| %>
        <div class="col-md-4">
          <div class="card mb-2">
            <div class="card-block p-3">
              <img class="card-img-top" src="https://picsum.photos/200/300?random=3" alt="Card image cap">
              <h4 class="card-title"><%= flat.address %></h4>
              <h6 class="card-subtitle text-muted"><span class="font-weight-bold">Price Per Day:</span> <%= flat.price_per_day %> Euros</h6>
              <small class="card-text p-y-1"><span class="font-weight-bold">Capacity:</span> <%= flat.capacity %> people</small><br>
              <%= link_to 'Check it out!', flat, class: "btn btn-info" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
