<div class="container flat_info">

  <h1>Beautiful place to rent in <%= @flat.city %>, <%= @flat.country %></h1>

  <% unless @flat.photo.key.nil? %>
    <%= cl_image_tag @flat.photo.key, crop: :fill, class:"flat_pic" %>
  <% end %>

  <div class= "flat_show_info">
    <p><strong>Address: </strong><%= @flat.address %></p>
    <p><strong>Maximum capacity: </strong><%= @flat.capacity %></p>
    <p><strong>Description: </strong><%= @flat.description %></p>
  </div>
</div>
