<div class="container">
  <div class="flat_info">
    <h1>Beautiful place to rent in <%= @flat.city %></h1>
    <div class="d-flex justify-content-between">
      <% if @flat.pictures.key.present? %>
        <%= cl_image_tag @flat.pictures.key, crop: :fill, class:"flat_pic" %>
      <% else %>
        <%= image_tag("unknown.jpg", class:"flat_pic") %>
      <% end %>
      <%= render "layouts/calendar", flat: @flat %>
    </div>
    <div class="d-flex justify-content-between">
      <div class= "flat_show_info">
        <p><strong>Average Rating: </strong>
          <%if @flat.average_rating[:average] == 5 %>
            <div class="d-flex">
              <p><i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: gold"></i>
              - (<%= @flat.average_rating[:num] %> reviews)</p>
            </div>
          <% elsif @flat.average_rating[:average] == 4 %>
            <div class="d-flex">
              <p><i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: grey"></i>
              - (<%= @flat.average_rating[:num] %> reviews)</p>
            </div>
          <% elsif @flat.average_rating[:average] == 3 %>
            <div class="d-flex">
              <p><i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: grey"></i><i class="fas fa-star" style="color: grey"></i>
              - (<%= @flat.average_rating[:num] %> reviews)</p>
            </div>
          <% elsif @flat.average_rating[:average] == 2 %>
            <div class="d-flex">
              <p><i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: grey"></i><i class="fas fa-star" style="color: grey"></i><i class="fas fa-star" style="color: grey"></i>
              - (<%= @flat.average_rating[:num] %> reviews)</p>
            </div>
          <% elsif @flat.average_rating[:average] == 1 %>
            <div class="d-flex">
              <p><i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: grey"></i><i class="fas fa-star" style="color: grey"></i><i class="fas fa-star" style="color: grey"></i><i class="fas fa-star" style="color: grey"></i>
              - (<%= @flat.average_rating[:num] %> reviews)</p>
            </div>
          <% else %>
            <div class="d-flex">
              <p><i class="fas fa-star" style="color: grey"></i><i class="fas fa-star" style="color: grey"></i><i class="fas fa-star" style="color: grey"></i><i class="fas fa-star" style="color: grey"></i><i class="fas fa-star" style="color: grey"></i>
              - (<%= @flat.average_rating[:num] %> reviews)</p>
            </div>
          <% end %>
        </p>
        <p><strong>Address: </strong><%= @flat.address %></p>
        <p><strong>Maximum capacity: </strong><%= @flat.capacity %></p>
        <p><strong>Description: </strong><%= @flat.description %></p>
        <p><strong>Price Per Day: </strong><%= @flat.price_per_day %> Euros</p>
        </div>
      </div>
      <hr>
      <div class="d-flex flex-row flat-options">
        <% if policy(Flat).create? %>
          <%= link_to "Create New flat", new_flat_path, class: "btn btn-primary h-25" %>
        <% end %>
        <% if policy(@flat).edit? %>
          <%= link_to 'Edit', edit_flat_path(@flat), class:"btn btn-primary" %>
        <% end %>
        <% if policy(@flat).destroy? %>
          <%= link_to 'Delete', @flat, method: :delete, class:"btn btn-primary", data: {confirm: "sure?"} %>
        <% end %>
        <% if policy(Flat).create? %>
          <%= link_to "Back to All Flats", flats_path, class: "btn btn-primary"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>
