<% flat = Flat.find(@booking.flat_id) %>
<div class="container">
  <h1>Your Stay in <%= flat.country %></h1>
  <div class="row booking_container">
    <div class="col-6">
      <% if flat.photo.key.present? %>
        <%= cl_image_tag flat.photo.key, crop: :fill, class:"flat_pic booking_flat_pic" %>
      <% else %>
        <%= image_tag("unknown.jpg", class:"flat_pic booking_flat_pic") %>
      <% end %>
    </div>
    <div class="info show_booking col-4">
      <p style="font-size: 16px;"><span class="font-weight-bold">From: </span><%= flat.start_date  %></p>
      <p style="font-size: 16px;"><span class="font-weight-bold">To: </span><%= flat.end_date  %></p>
      <p style="font-size: 16px;"><span class="font-weight-bold">Address: </span><%= flat.address  %></p>
      <p style="font-size: 16px;"><span class="font-weight-bold">Description: </span><%= flat.description  %></p>
      <p style="font-size: 16px;"><span class="font-weight-bold">Capacity: </span><%= flat.capacity  %></p>
      <p style="font-size: 16px;"><span class="font-weight-bold">City: </span><%= flat.city  %></p>
      <p style="font-size: 16px;"><span class="font-weight-bold">Country: </span><%= flat.country  %></p>
      <p style="font-size: 16px;"><span class="font-weight-bold">Total Price: </span><%= @booking.total_price  %> Euros.</p>
    </div>
  </div>
  <div class="booking-options">
    <%= link_to "Delete this booking", booking_path(@booking), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
      <% if policy(@booking).edit? %>
      <%= link_to 'Edit this booking', edit_booking_path(@booking), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
