<% flat = Flat.find(@booking.flat_id) %>
<div class="container">
  <div class="row d-flex align-items-center">
    <div class="col-8">
      <h3>Your Stay in <%= flat.country %> </h3>
    </div>
    <div class="col-4 d-flex justify-content-end">
      <%= link_to 'Back to your bookings', bookings_path, class: "btn btn-primary btn-sm" %>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <% if flat.photo.key.nil? %>
        <%= image_tag "no-image.png", class:"img-fluid width: 100% height: auto" %>
      <% else %>
        <%= cl_image_tag flat.photo.key, crop: :fill, class:"img-fluid width: 100% height: auto" %>
      <% end %>
    </div>
    <div class="col-4">
      <div class="info">
        <p style="font-size: 16px;"><span class="font-weight-bold">From: </span><%= flat.start_date  %></p>
        <p style="font-size: 16px;"><span class="font-weight-bold">To: </span><%= flat.end_date  %></p>
        <p style="font-size: 16px;"><span class="font-weight-bold">Address: </span><%= flat.address  %></p>
        <p style="font-size: 16px;"><span class="font-weight-bold">Description: </span><%= flat.description  %></p>
        <p style="font-size: 16px;"><span class="font-weight-bold">Capacity: </span><%= flat.capacity  %></p>
        <p style="font-size: 16px;"><span class="font-weight-bold">City: </span><%= flat.city  %></p>
        <p style="font-size: 16px;"><span class="font-weight-bold">Country: </span><%= flat.country  %></p>
        <p style="font-size: 16px;"><span class="font-weight-bold">Total Price: </span><%= @booking.total_price  %> Euros.</p>
      </div>


    </div>
    <div class="col-4 d-flex justify-content-end">
      <div>
        <% if @booking.review %>
        <h3>Your opinion</h3>
          <div class="card mb-2">
            <div class="card-block p-3">
              <h4 class="py-4"><%= flat.address %></h4>
              <div class="my-1">
                <% if @booking.review.rating == 5 %>
                  <div class="d-flex">
                    <i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: gold"></i>
                  </div>
                <% elsif @booking.review.rating == 4 %>
                  <div class="d-flex">
                    <i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: grey"></i>
                  </div>
                <% elsif @booking.review.rating == 3 %>
                  <div class="d-flex">
                    <i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: grey"></i><i class="fas fa-star" style="color: grey"></i>
                  </div>
                <% elsif @booking.review.rating == 2 %>
                  <div class="d-flex">
                    <i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: grey"></i><i class="fas fa-star" style="color: grey"></i><i class="fas fa-star" style="color: grey"></i>
                  </div>
                <% elsif @booking.review.rating == 1 %>
                  <div class="d-flex">
                    <i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: grey"></i><i class="fas fa-star" style="color: grey"></i><i class="fas fa-star" style="color: grey"></i><i class="fas fa-star" style="color: grey"></i>
                  </div>
                <% else %>
                  <div class="d-flex">
                    <i class="fas fa-star" style="color: grey"></i><i class="fas fa-star" style="color: grey"></i><i class="fas fa-star" style="color: grey"></i><i class="fas fa-star" style="color: grey"></i><i class="fas fa-star" style="color: grey"></i>
                  </div>
                <% end %>
              </div>
              <p><%= @booking.review.content %></p>
              <%= link_to "Your review", review_path(@booking.review), class: "btn btn-outline-dark" %>
            </div>
          </div>
        <% else %>
          <%= link_to 'Add a review', new_booking_review_path(@booking), class: "btn btn-primary btn-sm" %>
        <% end %>
      </div>

    </div>
  </div>
  <div class="row">
    <% if policy(@booking).edit? %>
      <%= link_to 'Edit this booking', edit_booking_path(@booking), class: "btn btn-primary mx-2" %>
    <% end %>
    <%= link_to "Delete this booking", booking_path(@booking), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary mx-2" %>
  </div>
</div>
