<h1>Ready to plan your next trip?</h1>
<div class="container">

  <div class="row">
    <div class="col-6">
    <%= image_tag "lighthouse.JPG", id:"banner_image" %>
    </div>
    <div class="calendar col-6">
      <span>Select dates</span>
      <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
          <i class="fa fa-calendar"></i>&nbsp;
          <span></span> <i class="fa fa-caret-down"></i>
      </div>
    </div>
  </div>
  <hr>
  <h3>Check out our top rated locations!</h3>
  <div>
    <% @top_rated.each do |flat| %>
      <div class="row top_rated_preview">
        <div class="col-4 apartment_image">
          <%= flat.pictures %>
        </div>
        <div class="col-8 review_text">
          <div>
            <div class="my-1">
              <% if flat.average_rating[:average] == 5 %>
                <div class="d-flex">
                  <i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: gold"></i>
                  <p>- (<%= flat.average_rating[:num] %> reviews)</p>
                </div>
              <% elsif flat.average_rating[:average] == 4 %>
                <div class="d-flex">
                  <i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: grey"></i>
                  <p>- (<%= flat.average_rating[:num] %> reviews)</p>
                </div>
              <% elsif flat.average_rating[:average] == 3 %>
                <div class="d-flex">
                  <i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: grey"></i><i class="fas fa-star" style="color: grey"></i>
                  <p>- (<%= flat.average_rating[:num] %> reviews)</p>
                </div>
              <% elsif flat.average_rating[:average] == 2 %>
                <div class="d-flex">
                  <i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: grey"></i><i class="fas fa-star" style="color: grey"></i><i class="fas fa-star" style="color: grey"></i>
                  <p>- (<%= flat.average_rating[:num] %> reviews)</p>
                </div>
              <% elsif flat.average_rating[:average] == 1 %>
                <div class="d-flex">
                  <i class="fas fa-star" style="color: gold"></i><i class="fas fa-star" style="color: grey"></i><i class="fas fa-star" style="color: grey"></i><i class="fas fa-star" style="color: grey"></i><i class="fas fa-star" style="color: grey"></i>
                  <p>- (<%= flat.average_rating[:num] %> reviews)</p>
                </div>
              <% else %>
                <div class="d-flex">
                  <i class="fas fa-star" style="color: grey"></i><i class="fas fa-star" style="color: grey"></i><i class="fas fa-star" style="color: grey"></i><i class="fas fa-star" style="color: grey"></i><i class="fas fa-star" style="color: grey"></i>
                  <p>- (<%= flat.average_rating[:num] %> reviews)</p>
                </div>
              <% end %>
            </div>
            <p><%= flat.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
