 <nav class="navbar navbar-light justify-content-between">
 <!-- add propper link -->
  <div id="homepage_link">
    <%= link_to "airbnb ", root_path, id:"home_button_1" %><%= link_to " LeWagon", root_path, id:"home_button_2" %>
  </div>
  <div class="ms-auto">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" name="query" placeholder="Where are you going?" aria-label="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false" id="login_menu">
        &#x1F464;
          </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="login_menu">
          <ul class="link_list">
            <% if user_signed_in? %>
              <% unless current_user.flats.any? %>
               <li><%= link_to "Become a host", new_flat_path %></li>
              <% else %>
                 <li><%= link_to "My flats", my_flats_path %></li>
              <% end %>
              <li><%= link_to "Log out", destroy_user_session_path %></li>
            <% else %>
              <li><%= link_to "Register", new_user_registration_path %></li>
              <li><%= link_to "Log in", new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </form>
  </div>
</nav>
